$xsm: 374px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$transparent: transparent;
$black: #252525;
$white: #ffffff;
$primary-default: #263238;
$primary-light: #455a64;
$secondary-default: #1285a9;
$secondary-light: #70cdeb;
$secondary-lighter: #e1ffff;
$gray-default: #b0bec5;
$gray-light: #f7fafc;
$gray-dark: #607d8b;
