.productCard {
  &__container {
    width: 250px;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;

    &:nth-of-type(4n) {
      margin-right: unset;
    }

    &--image {
      width: 250px;
      height: 327px;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &--details {
      display: flex;
      flex-direction: column;
      &-name {
        padding: 8px 0 0;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 18px;
      }
      &-brand {
        color: #666;
        font-size: 14px;
      }
      &-price {
        padding: 8px 0;
        color: #bbb;
        font-weight: 600;
      }
      &-sale {
        padding: 8px 0;
        &-price {
          color: #bbb;
          padding-left: 8px;
          font-weight: 600;
        }
        &-base {
          color: #999;
          text-decoration: line-through;
        }
      }
    }
  }
}
